* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS';
  }


.top-image {
    width: 100%;
}

.section-image {
    float: right;
}

.header {
    font-size: 30px;
    background-color: rgb(127, 214, 255);
    text-align: center;

}

.name {
    background-color: rgb(127, 214, 255);
    text-align: center;
    font-size: 70px;
}

.about-me {
    display: inline-block;
    font-size: 40px;
    padding-left: 20px;

}

.interests {
    padding-top: 50px;
    padding-left: 20px;
}

.section {
    background-color: rgb(92, 230, 196);
}

.footer {
    position:fixed;
    width: 100%;
    background-color: rgb(127, 214, 255);
    font-size: 20px;
    bottom: 0;
    text-align: center; 
}