* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS';
  }


.top-image {
    width: 100%;
}

.section-image {
    float: right;
}

.name {
    background-color: rgb(127, 214, 255);
    text-align: center;
    font-size: x-large;
}

.about-me {
    background-color: rgb(92, 230, 196);
    display: inline-block;
    font-size: larger;

}