* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


/*.header-image {
    height: 50px;
    width: 100%;
}

.section-image {
    height: 5px;
    width: auto;
}
*/
