* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS';
  }

.title {
    text-align: center;
    background-color: rgb(127, 214, 255);
}

table, th, td {
    border: 1px solid;

}

table {
    width: 100%;
    margin-top: 20px;
    background-color: rgb(92, 230, 196);
  }
  
th {
    height: 70px;
  }

.footer {
    position: fixed;
    background-color: rgb(127, 214, 255);
    font-size: 20px;
    bottom: 0;
    width: 100%;
    text-align: center;
}